*, a{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
                /* HEADER */
/* Header_toolbar */
header{
    background-color: rgb(231, 228, 228);
}
.header_toolbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.1em;
    text-decoration: none;
    width: 100%;  
    background-color: #283445;
    padding: 5px;
}

/* Logo */
.header_logo a{
    
    padding: 5.8px 10px;
    margin: 0 0 0 30px;
    transition: all 0.6s;
    font-size: 0.8em;
}


.header_logo img{
    height: 20px;
}


.header_logo a:hover{
    background-color:  #ce111a;
    transition: all 0.6s;
}

/* Navigation */
.header_nav ul{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;  
}

.header_nav ul{
    padding: 0;
}

.header_nav li a{
    padding: 10px 10px;
    padding-top: 13px;
    margin: 0 7px;   
    transition: all 0.6s;
    font-size: 0.8em;
}

.header_nav  li a:hover{
    background-color: #ce111a;
    color: white;
    transition: all 0.6s;
}

.header_toolbar a{
    color: white;
    font-size: 1.3em;
    transition: all 0.6s;
}

.header_toolbar a:hover{
    color: white;
    transition: all 0.6s;
}

/* header_slogan */
.header_slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 240px;   
    background-image: url("img/backgroundPlage.jpg");
}

.header_slogan h1{
    font-size: 2.3em;
    color: #db131d;
}

.header_slogan p{
    font-size: 1.4em;
    font-family: monospace;
    color: #283445;
    animation: slogan 3s;
}

                /*INSCRIPTION */
.main_inscription{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 550px;
text-align: center;
background-color:  #283445;
}
/* formulaire d'inscription */
.formulaire{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 370px;
    height: 450px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    animation: encadre 3s;
}

.formulaire h1{
    color: #283445;
    padding: 0 10px;
    font-size: 1.9em;
    margin-bottom: 20px;
}

/* Message ok */
.message_ok{
    color:  #283445;
    font-size: 1.1em;
    line-height: 1.9em;
}

.message_ok a{
    background-color: #283445;
    border-radius: 8px;
    padding: 10px 5px;
    color: white;
}

.message_ok a:hover{
    background-color: #334258;
}


                /* LABEL, INPUT, SELECT, TEXTAREA (pour toutes les pages) */
label{
    font-size: 1.2em;
}

input, select{
    margin-bottom: 15px;
    width: 250px;
    height: 25px;
}

textarea{
    margin-bottom: 15px;
    width: 250px;
    height: 160px;
}
                /* BOUTON SUBMIT (pour toutes les pages) */
.bouton input{
    color: white;
    background-color:  #334258;
    transition: background-color 0.6s;
    height: 40px;
    margin-top: 15px;
}

.bouton input:hover{
    background-color: #283445;
    transition: background-color 0.6s;
}

/* MESSAGE OK */
.message_ok{
    color:  #283445;
    font-size: 1.1em;
    line-height: 2.5em;
}

.message_ok a{
    background-color: #283445;
    border-radius: 8px;
    padding: 10px 5px;
    color: white;
}

.message_ok a:hover{
    background-color: #334258;
}

/* ERREUR  */
.erreur p{
    color: red;
    font-size: 1.1em;
    margin: 10px;    
}

.erreur h2{
    color: #1b771f;
    margin: 20px;
}


                /*CONNEXION */
.main_connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    text-align: center;
    background-color:  #283445;
}

/* Formulaire connexion */
.connexion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 370px;
    height: 320px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    animation: encadre 3s;
}

.connexion h1{
    color:  #283445;
    font-size: 1.9em;
    margin-bottom: 20px;
}

                /* CREER UN ARTICLE */
.main_creer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 620px;
    text-align: center;
    background-color:  #283445;
    }

/* Formulaire creer*/
.creer_article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 370px;
    height: 530px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    animation: encadre 3s;
}

.main_creer h1{
    color:  #283445;
    font-size: 1.9em;
    margin-bottom: 20px;
}

                /*PROFIL */
.main_profil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 570px;
    text-align: center;
    background-color:  #283445;
}

/* Formulaire profil */
.profil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 370px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 30px 0; 
    animation: encadre 3s;
}

.profil h1{
    color:  #283445;
    font-size: 1.9em;
    padding: 30px 0;
}

                /* ARTICLES */
.main_articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: gray;
}

.page_articles{
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
    width: 75%;
    background-color: white;
}

/* Titre (article) */
.titre h1{
    font-size: 2.6em;
    color: white;
    color: black;
    padding: 30px 0;
}

.titre h1 span{
    color: #db131d;
}

.categories ul{
    display: flex;
    flex-wrap: wrap;
}

.categories ul a{
    padding: 5px 10px;
    margin: 10px;
    color: black;
    font-size: 1.2em;
    transition: all 0.4s;
}

.categories a:hover{
    color: #db131d;
    transition: all 0.4s;
}
            
/* Section contenant les articles */
.les_articles{
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
    flex-wrap: wrap;
    margin: 20px;
}

/* Article */
.articles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 470px;
    height: 430px;
    box-shadow: 0 0 10px rgb(235, 234, 234);
    margin: 30px 30px;
    background-color: rgb(247, 247, 247);
}

.articles:hover{
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 15px rgb(235, 233, 233);
}

.conteneur_image{
    width: 470px;
    height: 300px;
    clip-path: inset(0);
}

.conteneur_image img{
    width: 470px;
    height: 300px;  
    transform: scale(1);
    transition: all 1s ease-in-out;
}

.conteneur_image img:hover{
    height: 300px;
    width: 470px;
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}

.text h2{
    margin-top: 10px;
    font-size: 1.5em;
    color: rgb(27, 27, 27);
    padding: 0 10px;
}

.text p{
    color: rgb(31, 30, 30);
    padding: 0 10px;
}

/* Pagination */
.pagination{
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #db131d;
}

.pagination a{
    color: black;
    padding: 5px;
}

                /* ARTICLE */
.main_article{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

.container_article{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.article_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: justify;
    margin: 10px 0;

}

.article_article h1{
    font-size: 1.8em;
    margin: 15px 0;
}

.main_article h2{
    font-size: 1.4em;
    margin: 25px 0 10px 0;
}

.article_article img{
    width: 100%;
    max-height: 500px;
    margin-bottom: 20px;
}

.article_artilce p{
    margin: 10px;
}

.commentaires_article{
    display: flex;
    flex-direction: column;
    width: 60%;
    
}

.commentaire_article{
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 238, 238);
    margin: 5px 0;
    padding: 10px;
}

.commentaire_article .identite p{
    font-size: 1.2em;
    color: #db131d;
    
}

.commentaire_article .message{
    width: 70%;
}

.ajout_commentaire textarea{
    width: 100%;
}

.ajout_commentaire input{
    width: 400px;
}



                /* FOOTER */
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(231, 228, 228);
    padding: 10px 0;
}

footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 1.6em;
}

footer .logo div{
    background-color: #ce111a;
    color: white;
    padding: 10px 12px;
}

footer .logo .texte{
    padding: 15px 12px 15px 0;

}

footer .logo img{
    margin-right: 4xp;
    height: 30px;
    margin-top: 3px;
    

}



footer .coordonnees{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
}

footer h3{
    text-align: center;
    margin: 5px 0;
}


footer .navigation{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    
}
footer .navigation a{
    color: white;
    background-color: #334258;
    padding: 5px ;
    border-radius: 8px;
    line-height: 2em;
}


footer .social{
    display: flex;
    align-items: center;
    width: 20%;
}

footer .social img{
    height: 50px;
    margin: 10px;
}

.admine{
    text-align: center;
    color: midnightblue;
}
.tableau-style{
   border-collapse: collapse;
   min-width: 400px;
   width: auto;
   box-shadow: 0 5px rgba(0, 0,0, 0.15);
   cursor: pointer;
   margin: 100px auto;
   border: 2px solid midnightblue;
}
thead tr{
    background-color:midnightblue;
    color: #fff;
    text-align: left;

}
th,td{
    padding: 15px 20px;
}
tbody tr,td,th{
    border: solid#ddd;

}
tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
.article{
    text-align: center;
    color: midnightblue;
    padding-bottom: 3%;
}
.articles{
    color: midnightblue;
}
.boutton{
    display: inline-block;
    font-size: 0.785rem;
    padding: 1rem 2.5rem;
    border-radius: 100px;
    border: 1px solid #ededed;
    color: #252525;
}
input, textarea, select, option {
    background-color:#FFF3F3;
}
input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:100%;
    box-shadow:1px 1px 2px #C0C0C0 inset;

    }
